@keyframes cursorAnimation {
    0% {
        background: none;
    }
    50% {
        background: #000;
    }
    100% {
        background: none;
    }
}

.cursor {
    animation: cursorAnimation 1000ms infinite;
    animation-timing-function: step-start;
}